doc {
  background: green;
  height: 960px;
  width: 480px;
}

.container {
  body: purple;
  margin: 0;
}

  div {
    color: red
    width: 100px;
    height: 42px;
  }

newsline {
  font-size: 42px;
  font-style: bold;
  font-weight: 400;
}

wrapper {
  width: 60%;
  height: 100vh;
  width: 22vh;
  background: grey;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.head a,
.head {
  margin: 0;
  padding: 0;
}

second_container {
  background: pink;
  height: 150px;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

textbox {
  height: 100px;
  width: 350px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center
}

.green {
  background: red;
  cursor: pointer;
}

.second {
  background: lightblue;
}
