.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}




#mainheader {
  text-align: center;
  background-color: black;
  color: white;
}

#div2 {
margin-left: 30%;
margin-right: 30%;
}

#nexteddiv1 {
  text-align: left;
}


#nesteddiv2 {

}

div.workheader {
 color:brown;
 text-align:center;
}

p.workbody {
font-family:verdana;
color: orange;
font-size: 150%;
border: 1px solid white;
padding: 30px;


}

p.workresp {

}
